<div class="container mt-4">

<h2>Students List</h2>

<table>

<thead>
<tr>
<th>ID</th>
<th>Name</th>
<th>Email</th>
<th>Action</th>
</tr>
</thead>

<tbody>

<tr *ngFor="let student of students">

<td>{{student.id}}</td>
<td>{{student.name}}</td>
<td>{{student.email}}</td>

<td>
<button (click)="deleteStudent(student.id)">Delete</button>
</td>

</tr>

</tbody>
<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator
[length]="totalElements"
[pageSize]="pageSize"
[pageSizeOptions]="[7]"
(page)="pageChanged($event)">
</mat-paginator>

</div>