.profile-card{
  width:400px;
  margin:40px auto;
  padding:25px;
  background:white;
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.profile-card h2{
  text-align:center;
  margin-bottom:20px;
}

.profile-item{
  display:flex;
  justify-content:space-between;
  margin-bottom:15px;
  font-size:16px;
}

.profile-item label{
  font-weight:600;
}