<div class="bootstrap-wrapper">
    <div class="container mt">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3 class="text-center">Login Here!!</h3>

                <form (ngSubmit)="onSubmit()">
                    <mat-form-field class="full-width">
                        <mat-label>Username</mat-label>
                        <input required [(ngModel)]="credentials.email" name="username" type="text" matInput/>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Password</mat-label>
                        <input required [(ngModel)]="credentials.password" name="email" type="password" matInput/>
                    </mat-form-field>
                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Login</button>
                        <button type="reset" style="margin-left: 10px;" mat-raised-button color="accent">Reset</button>

                    </div>
                </form>
                <br/>
                <p>{{credentials | json}}</p>
            </div>
        </div>
    </div>
</div>
